@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');


 * {
    margin: 0;
    padding: 0;
 }

 body {
    width: 100%;
    font-family: "Lato","sans-serif";
    }
/*------------------------------------------------------------ Header */


 header { 
    overflow: hidden;
 }

 #logo {
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
 }

/*---------------------Nav-Bar */


 #ul-bar {
    float: right;
    margin-top: 2%;
 }

 #ul-bar li a:hover {
    text-decoration: underline;
    font-size: 1.2rem;
    color: #299986;
 }

 #ul-bar li {
    display: inline-block;
    line-height: 5%;
    font-size: 1.1rem;
 }

 #ul-bar li a {
    text-decoration: none;
    color: rgb(67, 107, 109);
    padding-right: 2rem;
 }

/*------------------------------------------------------------ Home Page */

/*--------------------- Welcome section */

 #welcome {
    position: relative;
 }

 video {
    width: 100%;
    object-fit: fill;
  }

 #video-div1 {
    position:absolute;
    width: 100%;
    text-align: center;
    top: 11%;  
 }

 #video-div2 {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 30%;
 }

 #video-div1 h1 {
    font-family: "Oswald","sans-serif";
    color: rgb(255, 255, 255);
    font-size: 3.5vw;
    font-weight: 400;
  }


 #video-div2 h2 {
    font-weight: 400;
    font-size: 2.0vw;
    font-family: "Oswald","sans-serif";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }

/*--------------------- About Academy */

 #about-academy {
    width: 100%;
    display: flex;
    margin-top: 2%;
    margin-bottom: 1.5%;
 }

 #div-academy-1 {
    width: 42%;
    text-align: center;
    padding: 3%;
 }

 #div-academy-1 img {
    border-radius: 10%;
 }

 #div-academy-2 {
    width: 40%;
    text-align: justify;
    padding: 5%;
 }

 #div-academy-2 h2 {
    font-family: "Oswald","sans-serif";
    color: rgba(41, 153, 134);
    letter-spacing: 0.3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3%;
 }

 .paragraph {
    margin-bottom: 8%;
 }

 .fa-medal {
    font-size: 1.5rem;
    color: rgba(41, 153, 134);
    margin-right: 2%;
 }

/*--------------------- Offer Section */

 #offer-section {
    width: 100%;
    height: 100%;
    background-color: rgba(3, 63, 38, 0.1);
    padding-top: 3%;
    padding-bottom: 3%;
 }

 #offer-section h2 {
    font-family: "Oswald","sans-serif";
    text-align: center;
    color: black;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.3rem;
 }

 #offer-div-main {
    display: flex;
    margin-top: 3%;
 }

 #offer-div-1 {
    width: 33%;
    text-align: center;
 }

 #offer-div-2 {
    width:34%;
    display: flex;
    margin: auto 0;
    text-align: center; 
  }

  #offer-div-3 {
    width: 33%;
    text-align: center;
  }

 #offer-ul-1 {
    display: inline-block;
    text-align: left;
    list-style-type: none;
    font-size: 1.1rem;
 }

 #offer-ul-1 li:not(:last-child) {
    margin-bottom: 20%;
 }

 #offer-ul-2 {
    display: inline-block;
    text-align: left;
    list-style-type: none;
    font-size: 1.1rem;
 }

 #offer-ul-2 li:not(:last-child) {
    margin-bottom: 20%;
 }

 #offer-div-2 img {
    width: 60%;
    box-sizing: border-box;
  }

  .fa-trophy {
    padding: 5px;
    color: #299986;
 }

/*--------------------- Academy Programmes */

 #academy-programmes {
    width:100%;
 }

 #academy-programmes-h2 {
    font-family: "Oswald","sans-serif";
    color: rgba(41, 153, 134);
    margin-top: 5%;
    margin-bottom: 1%;
    text-align: center;
    letter-spacing: 2.5px;
 }

 .color-programmes {
    width: 30%;
    min-height: 590px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid rgba(41, 153, 134);
    border-radius: 5px;
    margin: 2.5% 1.5% 0;
 }

 .programmes-img {
    display: block;
    width: 70%;
    margin: 10% auto;
 }

 .color-programmes p {
    text-align: center;
    margin: 30px 30px 50px;
    font-size: 1rem;
 }

 .color-programmes-h3 {
    font-family: "Oswald","sans-serif";
    color: rgba(41, 153, 134);
    font-size: 1.2rem;
    font-weight: 900;
    text-align: center;
 }

 .programmes-link {
    display: block;
    width: 50%;
    padding: 2% 0 2% 0;
    text-decoration: none;
    background-color: rgba(41, 153, 134);
    color: black;
    border-radius: 5px;
    font-size: 1.1rem;
    margin: auto auto 10%;
    text-align: center;
 }

 #programmes-div {
    margin-top: 3%;
 }

 #programmes-link-join {
    display: block;
    width:30%;
    text-decoration: none;
    background-color: rgba(41, 153, 134);
    color: black;
    font-size: 1.1rem;
    letter-spacing: 0.2vw;
    border-radius: 5px;
    padding: 1.5% 0 1.5% 0;
    margin:auto;
    text-align: center;
 }

 #programmes-link-join:hover {
  font-weight: bolder;
  color: white;
 }

/*--------------------- Testimonials */

 #testimonials {
    width:100%;
    height: auto;
 }

 #testimonials h3 {
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 1.3rem;
    text-align: center;
    font-family: "Oswald","sans-serif";
    letter-spacing: 2.5px;
 }

 #testimonials-span {
    color: rgba(41, 153, 134);
    font-size: 1.4rem;
 }

 .testimonials-p {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    text-align: justify;
    border: 2px solid rgba(41, 153, 134);
    border-radius: 5px;
    padding: 1.5%;
    margin: 1% 3.2%;
 }

/*--------------------- Contact details */

 #contact-div {
    display: flex;
    width: 100%;
    background-color:rgba(3, 63, 38, 0.1); 
    margin-top: 1%;
    padding-bottom: 3%;
  }

  #address {
    width: 33%;
    text-align: center;
    padding-top: 6%;
  }

  #opening-times {
    width: 34%; 
    text-align: center;
    padding-top: 4%;
}
 #hours {
    display: flex;
    justify-content: center;
 }

 table {
    align-self: center;
    text-align: initial;
 }

 #phone-email {
    width: 33%;
    text-align: center;
    padding-top: 6%;
 }

/*------------------------------------------------------------ Footer */

 #footer {
    width: 100%;
    height: 16vh;
    clear: both;
 }
 footer #footer-links a {
    color: rgb(67, 107, 109);
    font-size: 1.5rem;
 }

 .link{
    margin-right: 5%;
 }

 #footer-links {
    width: 40%;
    float: left;
    margin-top: 0.5%;
    margin-left: 2%;
    text-align: left;
    
}
 #grandslams {
    width: 40%;
    float: right;
    margin-top: 0.5%;
    text-align: right;
 }

 footer p{
    text-align: center;
 }

 #logo-text-div {
    text-align: center;
 }
 #footer-logo-text {
    width: 100px;
 }

 .grandslam1, .grandslam2, .grandslam3, .grandslam4{ 
    width:8%;
 }

 .grandslam4{
    margin-right: 2%;
 }

/*------------------------------------------------------------ Gallery Page */

 #gallery {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    background-color: #cccccc;

}
 #gallery img {
    width: 100%;
 }

/*------------------------------------------------------------ Sign Up Page */

 #form-general {
    background-image: url('../images/img9.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 970px;
    background-attachment: fixed;
    position: relative;
  }

 #sign-up-form {
    width: 35%;
    height: auto;
    position: absolute;
    right: 5%;
    border-radius: 3%;
    background-color:rgba(195, 228, 236, 0.5);
    margin-top: 3%;
    padding:5%;
    overflow: hidden;
  }

 .data {
    width: 97%;
    /* border: solid double #f2eded; */
    height: 2.2rem;
    background: transparent;
    display: block;
    margin-bottom: 2%;
    padding-left: 2%;
 }

 #birthday {
    width: 97%;
    display: block;
    /* border: solid double #f3ecec; */
    border: 2px solid black;
    height: 2.2rem;
    background: transparent;
    margin-bottom: 2%;
    padding-left: 2%;
 }

 .asterisk {
    color: red;
 }

 #newsletter {
    width: 100%;
    margin-top: 5%;
 }

 #newsletter-span {
  text-align: justify;
  padding-left: 2%;
 }
 
 #terms {
    font-size: 0.8rem;
    margin-top: 6%;
    width: 100%;
 }
 #terms a {
    color: red;
 }

 #finish {
    width: 100%;
    height: 3rem;
    margin-top: 5%;
    background-color: rgba(41, 153, 134);
    font-size: 1.2rem;
    color:rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 5px;
 }

 .finish:hover {
    font-size: 1.3rem;
 }

 .form-space {
   margin-top: 3%;
   margin-bottom: 3%;
 }

 #classes {
    width: 100%;
    height: 2.2rem; 
    border: 2px solid black;
 }

 #form-final {
    text-align: center;
 }

 #log-in {
    font-size: 1.2rem;
    color: rgba(41, 153, 134);
    font-weight: bolder;
 }

 #log-in-div {
    text-align: center;
 }


/* _____________________________________________________________media queries */

/*___________________________ max 1200px */

@media screen and (max-width: 1200px){

    .color-programmes {
        width: 30%;
        margin-left: 1.4%;
        margin-right: 1.4%;
    }
}

/*___________________________ max 943px */

@media screen and (max-width: 943px){

    #ul-bar {
        margin-bottom: 2%;
    }
    
    #video-div2 h2 {
        letter-spacing: 0.2rem;
    }

    #about-academy {
        width:100%;
    }

    #sign-up-form {
        margin-top: 5%;
    }

    #div-academy-1 {
        width: 50%;
        padding-top: 12%;  
    }

    #div-academy-1 img {
        width: 100%;
    }

    #div-academy-2 {
        width: 50%;
    }

    #offer-section {
        display: block;
    }

    #offer-div-2 img {
        width: 100%;
        padding: 0;
    }

    #offer-div-1 {
        width: 40%;
    }

    #offer-div-3 {
        width: 40%;

    }

    #offer-div-2 {
        width: 20%;
        vertical-align: bottom;
        margin: auto 0;
    }

    .offer-li {
        font-size: 1rem;
    }

    #academy-programmes {
        height: initial;
    }
    
    .color-programmes{ 
        width: 46%;
    }

    .testimonials-p {
        width: 39%;
        vertical-align: top;
        min-height: 170px;
    }

    #gallery {
        column-count: 2;
    }

    #sign-up-form {
        width: 42%;
    }
}
/*___________________________ max 700px */

@media screen and (max-width: 700px){

    body {
        width: 100%;
    }

    #ul-bar {
        margin-right: 2%;
    }

    #ul-bar li a {
        padding: 0.5rem;
        margin: 0;
        font-size: initial;
    }

    #ul-bar li a:hover {
        text-decoration: none;
        font-size: initial;
        color: #299986;
    }
   
    video {
        margin-top: 2%;
    }

    #video-div1 h1 {
        font-size: 1.2rem;
    }
    #video-div2 h2 {
        font-size: 1rem;
        letter-spacing: normal;
    }

    #about-academy {
        width: 100%;
        display: block;
        padding: 0 0 5%;
    }

    #div-academy-1 {
        width: 100%;
        margin: 0;
        padding-top: 2%;
        padding-left: 0;
        padding-right: 0;
    }
    
    #div-academy-1 img {
        width: 50%;
    }
    
    #div-academy-2 {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    #div-academy-2 p {
        padding-left: 8%;
        padding-right: 8%;
    }
    
    #div-academy-2 h2 {
        font-size: 1.2rem;
        padding-left: 8%;
        padding-right: 8%;
    }
    
    #offer-section {
        height: initial;
    }
    
    #offer-section h2{
        font-size: 1.2rem;
    }
    #offer-div-1 {
        padding-top: 3%;
    }
    
    #offer-div-3 {
        padding-bottom: 10%;
    }
    
    #offer-div-1, #offer-div-2, #offer-div-3 {
        width: 100%;
    }

    #offer-div-2 img {
        width: 80%;
        padding: 15%;
    }

    #offer-div-2 {
        text-align: center;
    }

    #offer-div-main {
        display: block;
    }

    #offer-div-3 ul li:not(:last-child) {
        margin-bottom: 10%;
    }

    #offer-div-1 ul li:not(:last-child) {
        margin-bottom: 10%;
    }
    
    #academy-programmes {
        height: initial;
        width: auto;
    }
    
    #academy-programmes-h2 {
        width: 100%;
        font-size: 1.2rem;
        letter-spacing: 0.3rem;
    }

    .color-programmes {
        width: 90%;
        margin-left: 4.5%;
        margin-right: 4.5%;
    }

    #programmes-link-join {
        width: 60%;
        margin-top: 5%;
    }
    
    .testimonials-p {
      width: 80%;   
      padding-left: 5%;
      padding-right: 5%;
      margin-left: 4%;
      margin-right: 4%;
    }
    
    #contact-div{ 
        height: initial;
        overflow: hidden;
        display: block;
        padding-bottom: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    #address {
        width: 100%;
    }
    #opening-times {
        width: 100%;
    }

    #phone-email {
        width: 100%;
    }
    
    footer{
        height: 100%;
    }
    #footer-links {
        display: block;
        width: 100%;
        margin: 3% auto;
        text-align: center;
    }
    
    #grandslams {
        width: 100%;
        margin-bottom: 5%;
        text-align: center;
    }
     
    header {
        height: initial;
        overflow: hidden;
    }

    #gallery { 
        column-count: 1;
    }

    #sign-up-form {
        width: 83%;
        height: initial;
        right: 3.5%;
    }
    }

    /*___________________________ min 1400px */

    @media screen and (min-width: 1400px) {

        #form-general {
            height: 1100px;
        }
    }
    
    