@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');


*{
    margin:0;
    padding:0;
}

body{
    width:100%;
    font-family: "Lato","sans-serif";
}

/*-------------------------------------------------------- Header*/

header{
    overflow: hidden;
    
}

#logo{
    margin-top: 5px;
    padding-bottom: 5px;
    float: left;
}

#ul-bar{
    float: right;
    margin-top: 2%;
}
#ul-bar li a:hover{
    text-decoration: underline;
    font-size: 1.2rem;
    color: #299986;
}

#ul-bar li{
    display: inline-block;
    line-height: 5%;
    font-size: 1.1rem;
}

#ul-bar li a{
    text-decoration: none;
    color: rgb(67, 107, 109);
    padding-right: 2rem;
}

/*------------------------------------------------------------ Home Page */

#welcome{
    position:relative;
}
  
#video-text{
    color:rgb(255, 255, 255);
    width: 100%;
    top: 20%;
    left: 0px;
    position:absolute;
    text-align: center;
    text-transform:none;
    font-family: "Oswald","sans-serif";

  }
#video-text h1{
    font-size: 3.5vw;
    padding-bottom: 3%;
    font-weight: 400;
    margin-top: 6%;
  }

#video-text h2{
    font-weight: 400;
    font-size: 2.0rem;
    font-family: "Oswald","sans-serif";
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }

video{
    filter: brightness(80%);
    width:100%;
    object-fit: fill;
  }

  
#about-academy{
    width:100%;
    display: flex;
    margin-top: 4%;
    margin-bottom: 4%;
}

#div-classes-1{
    width:50%;
    text-align: center;
    padding:3%;
}

#div-classes-1 img{
    border-radius: 10%;
}

#div-classes-2{
    width: 50%;
    text-align: justify;
    padding:5%;
}


#div-classes-2 h2{
    letter-spacing: 0.3rem;
    font-weight:600;
    font-family: "Oswald","sans-serif";
    text-align: center;
    color:rgba(41, 153, 134);
    margin-bottom: 3%;
}

.paragraph{
    margin-bottom: 8%;
}
.fa-medal{
    font-size: 1.5rem;
    color: rgba(41, 153, 134);
    padding-right: 5px;
}
.medal{
    padding-right: 1%;
}

#offer-section{
    width:100%;
    height:100%;
    background-color:rgba(3, 63, 38, 0.1);
    padding-top: 3%;
    margin-top: 3%;
}

#offer-section h2{
    text-align: center;
    font-family: "Oswald","sans-serif";
    letter-spacing:0.3rem;
    color: #299986;
    font-size: 1.5rem;
    font-weight: 800;
}
#offer-div-main{
    display:flex;
    margin-top: 3%;
}

#offer-div-1{
    width:33%;
    text-align: center;
  }

  #offer-div-1 ul{
    display: inline-block;
    text-align: left;
    list-style-type: none;
    font-size: 1.1rem;
  }

  #offer-div-1 ul li:not(:last-child){
    margin-bottom: 20%;
  }

  #offer-div-3 ul{
    display: inline-block;
    text-align: left;
    list-style-type: none;
    font-size: 1.1rem;
  }

 #offer-div-3 ul li:not(:last-child){
    margin-bottom: 20%;
  }

#offer-div-2{
    width:34%;
    display: flex;
    margin: auto 0;
    text-align: center;
  }
  #offer-div-2 img{
    width: 60%;
    box-sizing: border-box;
  }

  #offer-div-3{
    width:33%;
    text-align: center;
  }

  .fa-trophy{
    padding:5px;
    color: #299986;
}

#academy-programmes{
    width:100%;
}

.programmes-img{
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

#academy-programmes-h2{
    margin-top: 5%;
    margin-bottom: 1%;
    text-align: center;
    color:rgba(41, 153, 134);
    font-family: "Oswald","sans-serif";
    letter-spacing: 2.5px;
}

.color-programmes{
    width:30%;
    border-radius: 5px;
    display: inline-block;
    margin-right:1.5%;
    margin-left: 1.5%;
    border: 1px solid rgba(41, 153, 134);
    margin-top:2.5%; 
    vertical-align:top;
}

.color-programmes p{
    text-align:center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 50px;  
    font-size:1rem,
}

.color-programmes-h3{
    text-align: center;
    font-size: 1.2rem;
    color:rgba(41, 153, 134);
    font-weight: 900;
    font-family: "Oswald","sans-serif";

}
.programmes-link{
    padding:2% 0 2% 0;
    text-decoration: none;
    background-color: rgba(41, 153, 134);
    color:white;
    border-radius: 5px;
    font-size: 1.1rem;
    display: block;
    width:50%;
    margin:auto;
    margin-bottom: 5%;
    text-align: center;
}

#programmes-div{
    margin-top: 3%;
}

#programmes-link-join{
    font-size: 1.1rem;
    text-decoration: none;
    background-color: rgba(41, 153, 134);
    color: white;
    border-radius: 5px;
    padding:1.5% 0 1.5% 0;
    display: block;
    width:30%;
    margin:auto;
    text-align: center;
}

#testimonials{
    width:100%;
    height: auto;
}

#testimonials h3{
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 1.3rem;
    text-align: center;
    font-family: "Oswald","sans-serif";
    letter-spacing: 2.5px;
}

.testimonials-p{
    width: 40%;
    margin-left: 3.2%;
    margin-right: 3.2%;
    text-align: justify;
    padding:1.5%;
    border: 2px solid rgba(41, 153, 134);
    display: inline-block;
    margin-bottom: 1%;
    margin-top:1%;
    border-radius: 5px;
    vertical-align:top;
}

#testimonials-span{
    color: rgba(41, 153, 134);
    font-size: 1.4rem;
}

#contact-div{
    width: 100%;
    background-color:rgba(3, 63, 38, 0.1); 
    margin-top: 1%;
    height:50vh;
    display: flex;
  }

  #address{
    width:33%;
    text-align: center;
    padding-top:6%;
  }

  #opening-times{
    width:34%; 
    text-align: center;
    padding-top:4%;
}
#hours{
    display:flex;
    justify-content: center;
}

table{
    align-self: center;
    text-align: initial;
}

 #phone-email{
    width:33%;
    text-align: center;
    padding-top:6%;
}

/* -----------------------------------------------Footer */

 #footer{
    width:100%;
    height: 16vh;
    clear: both;
}
footer #footer-links a{
    color: rgb(67, 107, 109);
    font-size: 1.5rem;
}

.link{
    padding-right:5%;
}

#footer-links{
    width:40%;
    margin-top:0.5%;
    float:left;
    margin-left: 2%;
    text-align: left;
    
}
#grandslams{
    width:40%;
    float:right;
    margin-top:0.5%;
    text-align: right;
}

footer p{
    text-align: center;
}

#logo-text-div{
    text-align: center;
}
#footer-logo-text{
    width:100px;
}

.grandslam1, .grandslam2, .grandslam3, .grandslam4{ 
    width:8%;
}

.grandslam4{
    padding-right: 2%;
}

/* ---------------------------------------------------Gallery Page */

#gallery{
    clear:both;
    line-height:0;
    column-count: 3;
    column-gap: 0px;
    background-color: #cccccc;

}
#gallery img{
    width:100%;
}


/* ------------------------------------------------------Sign Up Page */

#form-general{
    background-image: url('/assets/images/img.41.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 970px;
    background-attachment: fixed;
    position: relative;
  }

#sign-up-form{
    margin-top: 3%;
    width: 35%;
    height: auto;
    position: absolute;
    right: 5%;
    border-radius: 3%;
    background-color:rgba(195, 228, 236, 0.5);
    padding:5%;
    overflow: hidden;
  }

.data{
    width: 97%;
    border: solid double #f2eded;
    height: 2.2rem;
    background: transparent;
    display: block;
    margin-bottom: 2%;
    padding-left: 2%;
  }

  .red{
    color: red;
  }

#newsletter{
    margin-top:5%;
    width:100%;
}
#newsletter-span{
 text-align: justify;
 
}

#terms{
    font-size: 0.8rem;
    margin-top: 6%;
    width:100%;
}
#terms a{
    color: red;
}

#finish{
    margin-top: 5%;
    width: 100%;
    height: 3rem;
    background-color: rgba(41, 153, 134);
    font-size: 1.2rem;
    color:rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 5px;
}
.finish:hover{
    font: size 1.3em;
}

#birthday{
    width: 97%;
    border: solid double #f3ecec;
    height: 2.2rem;
    background: transparent;
    display: block;
    margin-bottom: 2%;
   padding-left: 2%;
}
.form-space{
   margin-top: 3%;
   margin-bottom: 3%;
}

#classes{
    width: 100%;
    border: 2px solid black;
    height: 2.2rem; 
}

#newsletter span{
    padding-left: 2%;
}
#form-final{
    text-align: center;
}
#log-in{
    font-size: 1.2rem;
    color:rgba(41, 153, 134);
    font-weight: bolder;
}
#log-in-div{
    text-align: center;
}

/* __________________________________________________________________media queries */


@media screen and (max-width: 1200px){

    .color-programmes{
        width:30%;
        margin-left:1.4%;
        margin-right:1.4%;
    }
}

@media screen and (max-width: 943px){
    #ul-bar{
        margin-bottom: 2%;
    }
    
    #about-academy{
        width:100%;
    }
    #sign-up-form{
        margin-top:5%;
    }
    #div-classes-1{
        width:50%;
        padding-top:12%;
        
    }
    #div-classes-1 img{
        width:100%;
    }
    #div-classes-2{
        width:50%;
    }
    #offer-section{
        display:block;
    }
    #offer-div-2 img{
        width:100%;
        padding:0;
    }

    #offer-div-1{
        width:40%;
    }
    #offer-div-3{
        width:40%;
    }
    #offer-div-2{
        width:20%;
        vertical-align:bottom;
        margin: auto 0;
    }

    .offer-li{
        font-size: 1rem;
    }
    #academy-programmes{
        height:initial;
    }
    
    .color-programmes{
        width:46%;
    }

    .testimonials-p{
        width:39%;
        vertical-align:top;
    }

    #sign-up-form{
        width:42%;
    }
}
@media screen and (max-width: 700px){

    body{
    width:100%;
    }
    
    #ul-bar li a{
    padding:0.7rem;
    margin:0;
    font-size:initial;
    }
    video{
        margin-top:2%;
    }
    #video-text h1 {
        margin-top:0;
        font-size: 1rem;
    }
    #video-text h2{
        font-size: 1rem;
        letter-spacing:normal;
    }
    #about-academy{
        width:100%;
        display:block;
        padding: 0;
        padding-bottom:5%;
    }
    #div-classes-1{
        width:100%;
        margin:0;
        padding-left: 0;
        padding-right:0;
        padding-top: 2%;
    }
    
    #div-classes-1 img{
     width: 50%;
    }
    
    #div-classes-2{
        width:100%;
        margin: 0;
        padding:0;
    }
    
    #div-classes-2 p{
        padding-left:8%;
        padding-right: 8%;
    }
    
    #div-classes-2 h2{
        font-size: 1.2rem;
        padding-left: 8%;
        padding-right: 8%;
    }
    
    #offer-section{
        height:initial;
    }
    
    #offer-section h2{
        font-size: 1.2rem;
    }
    #offer-div-1{
        padding-top:3%;
    }
    
    #offer-div-3{
        padding-bottom:10%;
    }
    
    #offer-div-1, #offer-div-2, #offer-div-3{
        width:100%;
    }
    #offer-div-2 img{
        width:80%;
        padding:15%;
    
    }
    #offer-div-2 {
        text-align: center;
    }
    #offer-div-main{
        display: block;
    }
    #offer-div-3 ul li:not(:last-child){
        margin-bottom: 10%;
    }
    #offer-div-1 ul li:not(:last-child){
        margin-bottom: 10%;
    }
    
    #academy-programmes{
        height:initial;
        width:auto;
    }
    
    #academy-programmes-h2{
        width:100%;
        font-size: 1.2rem;
        letter-spacing: 0.3rem;
    }
    .color-programmes{
        width:90%;
        margin-left: 4.5%;
        margin-right: 4.5%;
    }
    #programmes-link-join{
        width:60%;
        margin-top:5%;
    }
    
    .testimonials-p {
     width:80%;   
     padding-left:5%;
     padding-right: 5%;
     margin-left:4%;
     margin-right:4%;
    }
    
    #contact-div{
        height:initial;
        overflow: hidden;
        display: block;
        padding-bottom:5%;
        margin-top:5%;
        margin-bottom: 5%;
    }
    
    #address{
        width:100%;
    }
    #opening-times{
        width:100%;
    }

    #phone-email{
        width:100%;
    }
    
    footer{
        height:100%;
    }
    #footer-links{
        width:100%;
        margin-top:3%;
        margin-bottom: 3%;
        display:block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    #grandslams{
        width:100%;
        margin-bottom: 5%;
        text-align: center;
    }
     
    header{
        height:initial;
        overflow: hidden;
    }
    #sign-up-form{
        width:83%;
        height:initial;
        right:3%;
    }
    }
    
    
    