@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');


*{
    margin:0;
    padding:0;
}

body{
    width:100%;
    font-family: "Lato","sans-serif";
}

/* Header*/

header{
    height: 80px;
    margin-top: 5px;
    position:sticky;
}

#logo{
    margin-top: 5px;
    padding-bottom: 5px;
    float: left;
}

#ul-bar{
    padding-left: 30px;
    float: right;
    margin-top: 30px;
}
#ul-bar li a:hover{
    text-decoration: underline;
    font-size: 1.2rem;
    color: #299986;
}

#ul-bar li{
    display: inline-block;
    line-height: 40px;
    font-size: 1.1rem;
}

#ul-bar li a{
    text-decoration: none;
    color: rgb(67, 107, 109);
    padding-right: 40px;
    display: block;
}

/* Home Page */

#welcome{
    position:relative;
}
  
#video-text{
    color:rgb(255, 255, 255);
    text-transform:uppercase;
    width: 100%;
    height:200px;
    padding-top: 40px;
    padding-left:0;
    top: 100px;
    left: 0px;
    position:absolute;
    text-align: center;
    text-transform:none;
    font-family: "Oswald","sans-serif";

  }
#video-text h1{
    font-size: 350%;
    padding-bottom: 20px;
    font-weight: 400;
    margin-top: 6%;
  }

#video-text h2{
    font-weight: 400;
    font-size: 2.0rem;
    font-family: "Oswald","sans-serif";
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }

video{
    filter: brightness(80%);
    width:100%;
    object-fit: fill;
  }

  
#about-academy{
    height: 650px;
    width:100%;
}

#div-classes-1{
    width:35%;
    float:left;
    padding-left:40px;  
    margin-top: 3%;
    margin-left: 30px;
}

#div-classes-2{
    width: 45%;
    float:right;
    margin-right:90px;
    margin-left: 0px;
    padding: 15px 50px 25px 30px;
    margin-top: 5%;
    border-radius: 15px;
    text-align: justify;
    margin-bottom: 20px;
}


#div-classes-2 h2{
    letter-spacing: 0.3rem;
    font-weight:600;
    font-family: "Oswald","sans-serif";
    text-align: center;
    color:rgba(41, 153, 134);
    margin-bottom: 30px;
}

.paragraph{
    margin-bottom: 30px;
}
.fa-medal{
    font-size: 1.5rem;
    color: rgba(41, 153, 134);
    padding-right: 5px;
}
.medal{
    padding-right: 5px;
}

#offer-section{
    width:100%;
    height:420px;
    background-color:rgba(3, 63, 38, 0.1);
    padding-top: 20px;
    margin-top: 20px;
}

#offer-section h2{
    text-align: center;
    font-family: "Oswald","sans-serif";
    letter-spacing:0.3rem;
    color: #299986;
    font-size: 1.5rem;
    font-weight: 800;
}

#offer-ul-1{
    list-style-type: none;
    padding-top: 50px;
    display: inline-block;
    padding-left:8%;
    width:25%;
}

#offer-ul-2{
    list-style-type: none;
    padding-top: 50px;
    display: inline-block;
    margin-left:10%;
    width: 25%;
}

.offer-li {
    padding-top:20px;
    padding-bottom: 8%;
    font-size: 1.1rem;
}
.offer-span{
    padding-left: 10px;
}

#offer-img{
    margin-left: 4%;
    margin-bottom: 1%;
}

.fa-trophy{
    padding:5px;
    color: #299986;
}

#academy-programmes{
    width:100%;
    height: 1500px;
    margin-left: 30px;
}

.programmes-img{
    width: 300px;
    height:200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10%;
    margin-bottom: 30px;
}

#academy-programmes-h2{
    margin-top: 5%;
    margin-bottom: 1%;
    text-align: center;
    color:rgba(41, 153, 134);
    font-family: "Oswald","sans-serif";
    letter-spacing: 2.5px;
}

.color-programmes{
    width:30%;
    min-height: 600px;
    border-radius: 5px;
    display: inline-block;
    margin-right:20px;
    border: 1px solid rgba(41, 153, 134);
    margin-top:2.5%; 
}

.color-programmes p{
    text-align:center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 50px;  
    font-size:1rem,
}

.color-programmes-h3{
    text-align: center;
    font-size: 1.2rem;
    color:rgba(41, 153, 134);
    font-weight: 900;
    font-family: "Oswald","sans-serif";

}
.programmes-link{
    padding:10px;
    border: 2px solid white;
    margin-left: 37%;
    text-decoration: none;
    background-color: rgba(41, 153, 134);
    color:white;
    border-radius: 5px;
    font-size: 1.1rem;
}

#programmes-link-join{
    font-size: 1.1rem;
    text-decoration: none;
    border: 2px solid white;
    background-color: rgba(41, 153, 134);
    color: white;
    border-radius: 5px;
    padding:10px;
}

/* #programmes-div{
    margin-top: 0;
    height: 5px;
} */

#programmes-div{
    text-align: center;
    margin-top: 100px;
    margin-left:-60px;
}

#testimonials{
    width:100%;
    height: auto;
    margin-top: 20px; 
}

#testimonials h3{
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 1.3rem;
    text-align: center;
    font-family: "Oswald","sans-serif";
    letter-spacing: 2.5px;
}

.testimonials-p{
    width: 40%;
    margin-left: 50px;
    text-align: justify;
    padding:20px;
    border: 2px solid rgba(41, 153, 134);
    display: inline-block;
    margin-bottom: 30px;
    border-radius: 5px;
}

#testimonials-span{
    color: rgba(41, 153, 134);
    font-size: 1.4rem;
}




